:root,
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  padding: 0;
  margin: 0;
}

a {
  color: rgb(0, 0, 120);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px -2px 5px white;
  transition: color 0.5s, text-shadow 0.5s;
}

a:hover {
  color: white;
  text-shadow: 2px -2px 5px rgb(0, 0, 120);
}

date {
  color: aqua;
}