.title {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
    gap: 28%;
}

.countyList {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.county {
    font-size: 20pt;
    text-align: center;
    width: 250px;
    padding: 8px;
    border: 2px rgb(254, 86, 86) dotted;
    border-radius: 10px;
    color: black;
    text-shadow: 0px 0px 5px aliceblue;
    transition: text-shadow 0.3s;
}

.county:hover {
    color: aliceblue;
    text-shadow: 0px 0px 5px black, 2px 0px black, -2px 0px black;
}

.bileog {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 200px
}

.bileog img {
    width: 200px;
}

.bileog p {
    color: rgb(255, 61, 96);
    text-shadow: none;
    font-size: 14pt;
}

.bileogText {
    position: fixed;
    top: 150px;
    right: -110px;
    rotate: 90deg;
    scale: 0.9;
    display: none;
}

.bileogText p {
    color: rgb(255, 61, 96);
    text-decoration: underline;
    text-shadow: none;
}

@media (max-width: 750px) {
    .countyList {
        gap: 15px;
    }

    .county {
        font-size: 18pt;
        flex-wrap: wrap;
        padding: 5px;
    }

    .title {
        gap: 10%;
    }

    .bileog {
        display: none;
    }

    .bileogText {
        display: inline;
    }
}

.cork {
    background: linear-gradient(to right, red 50%, white 50%);
}

.galway {
    background: linear-gradient(to right, maroon 50%, white 50%);
}

.mayo {
    background: linear-gradient(to right, red 50%, green 50%);
}

.kerry {
    background: linear-gradient(to right, green 50%, gold 50%);
}

.donegal {
    background: linear-gradient(to right, gold 50%, green 50%);
}

.meath {
    background: linear-gradient(to right, green 50%, gold 50%);
}

.waterford {
    background: linear-gradient(to right, white 50%, blue 50%);
}