.imagecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
}

.tile {
  /* height: 50vh; */
  width: 25vw;
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 0.35s ease-in-out
}

.tile:hover {
  opacity: 0.7;
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 750px) {
  .tile {
    width: 50vw;
    /* height: 25vh; */
  }
}

.textcontainer {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  /* height: 150px; */
  border: 15px double rgba(130, 99, 174, 0.523);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.375);

}

.title {
  text-align: center;
  font-weight: normal;
  font-size: 20pt;
  color: #fff;
  text-shadow: 3px 3px 2px rgb(98, 38, 128);
}

.title li {
  font-size: 16pt;
  color: #e0dbf7;
  text-shadow: 3px 3px 5px rgb(58, 24, 180);
  transition: color 0.3s, text-shadow 0.5s;
  text-align: right;
  transition: 0.3s background-color;
}

.title li:hover {
  color: white;
  background-color: #0000009f;
}

.tooltip {
  opacity: 0;
  background-color: rgba(115, 89, 116, 0.851);
  border: 2px dashed rgb(22, 8, 42);
  color: #fff;
  text-shadow: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 15pt;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  text-align: justify;
}

.content:hover .tooltip {
  opacity: 1;
}